body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
}
li{
  display: inline-block;
  width: 150px;
}
nav{
  display: inline-block;
  width: 80%;
}
nav img{
  width: 10%;
}
.grid{
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-around;
  align-items: center;
  row-gap: 20px;
}
.grid img{
  width: 100%;
}
.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flex img{
  width: 100%;
}